.error-card{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-card .carte-mini{
    cursor:auto;
}

.error-card a{
    color:#DCDCDD;
}

