.home-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}



.instruction{
    padding-top:15px;
    margin-bottom: 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#DCDCDD;

   
}

.instruction p{
    font-size: 20px;
    margin:5px;
}

.upper-instruction{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-bottom: 10px;
}

.lower-instruction{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 10px;
}

i{
    font-size: 30px;
}

.mentions-legales{
    font-size: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.mentions-legales a{
    margin:0;
    text-decoration:none;
    color:white;
}

.mentions-legales-big-screen a{
    display: block;
    text-decoration:none;
    color:white;
}

.mentions-legales-big-screen{
    font-size: 10px;
}

.first-map-instruction-container{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-grow: 2;
}

.map-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-map-container{
    margin-top: 30px;
}

.first-map-container .map-card .h2 p{
    font-size: 5px;
    margin-bottom: 5px;
}

.first-map-container .map-card .description{
    display: none;
}

.first-map-container .map-card .carte-mini-container .carte-mini{
    max-height: 200px;
}

.instruction-center-text{
    text-align: center;
}

.arrow-small-screen{
    display: block;
}

.arrow-big-screen{
    display: none;
}

@media screen and (min-width: 769px) {
    .instruction {
        margin-top: 80px;
        width: 30%;
    }

    .instruction p{
        font-size: 25px;
        margin:15px;
    }

    .first-map-instruction-container{
        flex-direction: row;
        align-items: center;
        align-items: flex-start;
    }

    .first-map-container{
        width: 70%;
    }

    .first-map-container .map-card .h2 p{
        padding-left: 20px;
    }

    .first-map-container .map-card .carte-mini-container .carte-mini{
        max-height: 400px;
    }

    .upper-instruction{
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: space-around;
    }

    .lower-instruction{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
        margin-top: 20%;
    }

    .lower-instruction i{
        margin-top:10px;
    }

    .lower-instruction p{
        text-align: center;
    }

    .arrow-small-screen{
        display: none;
    }
    
    .arrow-big-screen{
        display: block;
    }

    .instruction p{
        font-size: 35px;
        margin:5px;
    }
    
    i{
        font-size: 50px;
    }
    

}
