.home-container{
    display:flex;
    flex-direction: column;
}



.instruction{
    padding-top:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#DCDCDD;

   
}


.instruction p{
    font-size: 20px;
    margin:10px;
}

i{
    font-size: 30px;
}

.mentions-legales{
    font-size: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.mentions-legales a{
    margin:0;
    text-decoration:none;
    color:white;
}

.map-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-map-container{
    margin-top: 30px;
}

.first-map-container .map-card .h2 p{
    font-size: 5px;
}

.first-map-container .map-card .description{
    display: none;
}

.first-map-container .map-card .carte-mini-container .carte-mini{
    max-height: 250px;
}


