{% extends 'base.html.twig' %}

{% block body %}

<h3>Mentions légales</h3>
<p>Société OVH </p>
<p>Siège social : 2 rue Kellermann - 59100 Roubaix, France</p>
<p>Tél. +33 (0)8 99 70 17 61 </p>
<p>Site web : www.ovh.com</p> 

<a href="/home">Retour</a>

{% endblock %}