{% extends 'base.html.twig' %}


    {% block body %}
            
            <div class="first-map-container error-card">
                <div>
                    <div class="map-card">
                        <h2><p>Erreur 404: Cette page n'existe pas!</p></h2>
                        <div class="description">Carte de l'île d'Utopie, néologisme de Thomas More du grec 'u', prefixe privatif et de 'topos'('lieu'). Traduisible par 'aucun lieu'. </div>
                        <div class="carte-mini-container"><img class="carte-mini" src="../../cartes/utopie404.jpg" alt="une carte"></div>
                        <div class="sources">Sources: Carte de l'édition de 1518 de l'Utopie de Thomas More</div>
                    </div>
                </div>
            </div>
            

        
    {% endblock %}
